
* {
   box-sizing: border-box;
}

html {
   height: 100%;
   width: 100%;
}

body {
   width: 100%;
}
.o-banner{
    width: 100%;
    position: relative;
    
    img{
        width: 100%;
    }
    h1 {
        font-size: 3.5em;
        font-weight: 400;
        color: rgba(129, 129, 129, 0.5);
        text-align: justify;
        margin: 4px 0 0;
        padding-right: 1em;
        font-family: 'Nunito', sans-serif;
        position: absolute;
        bottom: 30px;
        left: 70px;        
    }
}
.o-patada{
    width: 150px;
    margin: 0 auto;
    margin-top: 0em;
    margin-bottom: 3em;
}
.o-contenedor{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    
    h2{
    font-size: 38px;
    font-weight: 400;
    line-height: 1.2;
    padding-bottom: 1em;
    color: #004e9a;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    }
    
    p{
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 2px;
    padding-bottom: 1em;
    color: #595858;
    text-align: justify;
    font-family: 'Nunito', sans-serif;
    }
    
    p span{
    font-size: 1.1em;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 2px;
    padding-bottom: 1em;
    color: #595858;
    text-align: justify;
    font-family: 'Nunito', sans-serif;
    }
    
}
