.direccion iframe{
    width: 100%;
    padding-top: 3em;
}

.direccion h2{
    width: 300px;
    margin: 0 auto;
    margin-top: 3em;
    background-color: black;
    padding: 15px;
    font-size: 1.3em;
    font-weight: 400;
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.direccion h3{
    margin: 0 auto;
    margin-top: 2em;
    padding: 15px;
    font-size: 1.3em;
    font-weight: 400;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 2em;
}


.o-semana{
    background-color: black;
}