.o-sedes{
    width: 100%;
    margin-top: 5em;
    margin-bottom: 8em;
    h2{
        width: 300px;
        margin: 0 auto;
        margin-top: 3em;
        margin-bottom: 3em;
        background-color: black;
        padding: 15px;
        font-size: 1.3em;
        font-weight: 400;
        color: white;
        text-align: center;
        font-family: 'Nunito', sans-serif;
    }
    h3{
        margin: 0 auto;
        margin-top: 2em;
        padding: 15px;
        font-size: 1.3em;
        font-weight: 400;
        color: black;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Nunito', sans-serif;
        margin-bottom: 2em;
    }
}



.o-sedes_horarios{
    max-width: 1000px;
    margin: 0 auto;
}

.o-sedes_horarios_mobile{
    display: none;
    margin: 0 auto;
    text-align: center;
    background-color: #e3e3e3;
    padding: 2em;}
    h1{
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    p{
    font-size: 1em;
    font-weight: 400;}
    }




.gris{
    width: 100%;
    background-color: #ebebeb;
    
    td{
    height: 50px;
    line-height:50px;
    font-size: 12px;
    font-weight: 400;
    color: black;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    }
    
}
.titulo{
    width: 202px;
    height: 50px;
    line-height:50px;
    font-size: 12px;
    font-weight: 400;
    color: black;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    } 


.negro{
    width: 100%;
    background-color: black;
    
    th{
    width: 12px;
    height: 50px;
    line-height:50px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    text-align: center;
    font-family: 'Nunito', sans-serif;} 
}

.vacio{
        background-color: white;
    
}

table, th, td {
   border: 0.5px solid black;
}


@media screen and (max-width:750px){
    .o-sedes_horarios{
    display: none;
}
    .o-sedes_horarios_mobile{
    display: block;
}
.o-sedes{
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    h2{
        width: 300px;
        margin: 0 auto;
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: black;
        padding: 15px;
    }
    h3{
        margin: 0 auto;
        margin-top: 1em;
        padding: 5px;
        font-size: 1.3em;
        margin-bottom: 1em;
    }
}

    }


