#programas{
    margin-top: 6em;
    margin-bottom: 6em;
    }

.o-programas{
    max-width: 950px;
    width:100%;
    margin: 0 auto;
    background-color: #eeefef;
    overflow: hidden;
    
}
.o-programas img{
    width: 50%;
    float: left;
    
}


.o-programma__items{
    width: 50%;
    padding: 4em;
    float: left;
    
    h2{
    width: 90%;
    margin: 0 auto;
    font-size: 1.8em;
    font-weight: 400;
    padding-bottom: 0.5em;
    color: #004e9a;
    text-align: justify;
    font-family: 'Nunito', sans-serif;
    }
    
    p{
    width: 90%;
    margin: 0 auto;
    font-size: 1.1em;
    font-weight: 400;
    padding-bottom: 0.5em;
    line-height: 18px;
    color: #000000;
    text-align: justify;
    font-family: 'Nunito', sans-serif;
    }

}

@media screen and (max-width:950px){
.o-programma__items{
    padding: 2em;
    
    h2{
    width: 90%;
    margin: 0 auto;
    font-size: 1.5em;
    font-weight: 400;
    padding-bottom: 0.5em;
    color: #004e9a;
    text-align: justify;
    font-family: 'Nunito', sans-serif;
    }
    
    p{
    width: 90%;
    margin: 0 auto;
    font-size: 1em;
    font-weight: 400;
    padding-bottom: 0.5em;
    line-height: 18px;
    color: #000000;
    text-align: justify;
    font-family: 'Nunito', sans-serif;
    }
}
}

@media screen and (max-width:750px){
#programas{
    margin-top: 2em;
    margin-bottom: 3em;
    }

.o-programas img{
    width: 100%;
    float: left;
}
.o-programma__items{
    width: 100%;
    padding: 1em;
    
    h2{
    padding-top: 1em;
     
    }
    
    p{
    padding-bottom: 3em;
    }
}
}